 
img{
    width:30em;
    height:15em;
    margin: 2em;
    border:2px solid orange;
    transition: all 3s;
  }
img:hover{
    transform: translate(50px, 100px);
}
div{
    display: flex;
    flex-wrap: wrap;
    
}

p{
  margin-left: 2em;
}
 h1{
   font-size:2.5em;
   font-family: 'Times New Roman', Times, serif;
   border: top 1px orangered;
   
   

 }

 h2{
   font-size:1em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
 }
